# Ignore everything by default.
*

# Allowlisted deployment networks.
# !/deployments/rinkeby/**
# !/deployments/mainnet/**
!/deployments/bsc/**
!/deployments/bscTestnet/**

# Contract abstract classes and interfaces.
!/contracts/abstract/**
!/contracts/interfaces/**
